<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Sendit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
	<ion-item color="light" >
<ion-input type="text" type="text" [(ngModel)]="inputDatum" name="title"></ion-input>
</ion-item>
<ion-button  type="submit" size='full' (click)='log()'>Sendit</ion-button>
<h2>{{this.cat}}</h2>
  <ion-fab vertical="bottom" horizontal="start"  slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)='changecat("todo")'><ion-icon name="alarm"></ion-icon></ion-fab-button>
      <ion-fab-button (click)='changecat("person/place/thing")'><ion-icon name="contacts"></ion-icon></ion-fab-button>
      <ion-fab-button (click)='changecat("healthlog")'><ion-icon name="heart"></ion-icon></ion-fab-button>
      <ion-fab-button (click)='changecat("idea")'> <ion-icon name="logo-freebsd-devil"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
